@import '../../../constants/constants';

.care-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__addbutton {
    width: calc(100% - 2.7rem);
    margin-top: 1.625rem;
    padding: 0.6rem 1rem;
  }

  &__buttonwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-icon {
    margin-left: 0.5rem;
    height: 20px;
    width: 20px;
    transition: 1s;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__heading {
    margin: 0;
    flex: 0 0 calc(100% / 3 - 1.25rem);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1.2rem 1rem;
    display: flex;

    &:nth-child(1) {
      background: $chrome-white;
    }

    &:nth-child(2) {
      background: $sidecar;
    }

    &:nth-child(3) {
      background: $just-right;
    }
  }

  &__icon {
    margin-right: 0.75rem;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &__listheading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.25rem;
    margin-bottom: 1.625rem;

    &--medisiner {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-transform: initial;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  &__listitems {
    list-style-type: none;
    padding: 0;
    line-height: 1.5rem;

    li {
      margin-bottom: 0.875rem;
    }
  }

  &__list {
    @media (max-width: 1100px) {
      padding-left: 1rem;
      padding-right: 0;
      flex: 0 1 calc(100% / 3 - 1.3rem);
    }

    padding-left: 3.5rem;
    padding-right: 2rem;
    flex: 0 1 calc(100% / 3 - 1.2rem);
    background: #fff;

    &:nth-child(7)::before,
    &:nth-child(8)::before,
    &:nth-child(9)::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: $desert-storm;
      margin-top: 2.75rem;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      padding-bottom: 3.875rem;
    }
  }
}
