@import '../../constants/constants';

.pagemenu {
  background: $skeptic;
  font-size: 1.125rem;

  &__list {
    max-width: 76rem;
    min-width: 1220px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    flex: 1 0 auto;
    display: flex;
  }

  &__link {
    flex: 1;
    padding: 1rem 0;
    text-align: center;
    color: #2c2c2c;
    text-decoration: none;
    text-transform: uppercase;

    &--active {
      background: #a6d9be;
    }

    &:hover {
      background: #d5d5d5;
    }
  }
}

