@import '../../constants/constants';

.pagemenu {
  background: $cararra;
  flex: 0 0 12rem;
  z-index: 2;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__list {
    margin-top: 5rem;
    list-style-type: none;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 1rem 1rem 0;
    word-break: break-word;
    text-transform: uppercase;

    &--active {
      background: linear-gradient(#969692, #c7c7be 20%, #c7c7be);
    }
  }

  &__text {
    border-bottom: 1px solid $quill-gray;
    padding-bottom: 1rem;
  }
}

