@import '../../../../constants/constants';

.range {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  z-index: 10;

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;

    width: calc(100% - 8rem);
    background: $page-background;
    padding: 1rem 4rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  }
}

.range__button {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;

  &--rev,
  &--fwd {
    display: flex;
    width: 7rem;
    color: #097A7A;
    align-items: center;
  }

  &--rev {
    margin-right: 1rem;
  }

  &--fwd {
    justify-content: space-between;
    margin-left: 2rem;
  }
}

.range__date {
  font-size: 1.875rem;
  font-weight: 400;
}

.range__month {
  font-size: 1rem;
  font-weight: 300;
}

.range__date-buttons {
  flex: 1 1 auto;
  margin-left: 2.5rem;
  margin-right: 2.7rem;
  display: flex;
  justify-content: space-between;

  .range__button {
    flex: 0 0 calc(100% / 7);
    border-left: 1px solid #E1E1E1;

    &--selected,
    &:hover,
    &:focus {
      background: #343434;
      color: $page-background;
    }

    &:focus {
      outline: none;
    }

    &:last-child {
      border-right: 1px solid #E1E1E1;
    }
  }

  &--14 {
    margin-right: 2.9rem;

    .range__button {
      flex: 0 0 calc(100% / 14);
    }
  }
}

.range__controls {
  display: flex;
}

.range__text--rev {
  margin-left: 10px;
}

.range__arrow--fwd {
  transform: rotate(180deg);
}
