$iconmargin: -0.3rem;

.range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem 1rem 10rem;
}

.range__button {
  background: transparent;
  border: none;
  flex: 0 1 auto;
  font-size: 1rem;
  cursor: pointer;
}

.range__button--fwd .icon {
  transform: rotate(180deg);

  &:last-child {
    margin-left: $iconmargin;
  }
}

.range__button--fwd-single .icon {
  transform: rotate(180deg);
}

.range__button--rev .icon:first-child {
  margin-right: $iconmargin;
}
