@import '../../../constants/constants';

.measurement-description {
  background: #fff;
  flex: 0 1 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;

  &__heading {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
  }

  &__reference-value {
    font-size: 1rem;
  }
}
