@import '../../../constants/constants';

.measurement-description {
  background: $cornflower-blue;
  flex: 0 0 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  justify-content: space-between;

  &__heading {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
  }

  &__reference-heading {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }

  &__reference-value {
    font-size: 1rem;
    font-weight: 400;
  }
}
