.button {
  font-size: 1.125rem;
  border-radius: 100px;
  border: 2px solid #269392;
  background: #269392;
  color: #fff;
  padding: 0.5rem 1.25rem;

  &:hover {
    box-shadow: 0 0 0 6px #D5D5D5;
  }

  &:focus {
    box-shadow: 0 0 0 3px #D5D5D5;
    outline: none;
  }

  &--lvl2 {
    color: #097A7A;
    background: transparent;
  }

  &--lvl3 {
    color: #097A7A;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    padding-right: 0.1rem;

    &:hover {
      box-shadow: none;

      .button__text {
        border-bottom: 1px solid #D9D9D4;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #D9D9D4;

      .button__text {
        border-bottom: 0;
      }
    }
  }

  &--square {
    border-radius: 0;
    background: transparent;
    color: #097A7A;
    text-align: left;
  }
}
