.report {
  &__expanderbutton {
    color: #36818b;
    font-size: 1.125rem;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    align-self: flex-end;
    cursor: pointer;
    margin: 0 0 1rem;
  }

  &__expander {
    background: #fff;
    padding: 1rem 2rem;
  }

  &__header {
    margin: 0;
    padding-bottom: 2rem;
  }

  &__paragraph {
    margin: 0;
    padding-bottom: 1rem;
  }

  &__chevron {
    fill: #36818b;
    margin-left: 1rem;
    transform: rotate(270deg);

    &--open {
      transform: rotate(90deg);
    }
  }
}
