.care-plan-page {
  // samme som header på dashboard-page. Flyttes
  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin: 2rem 0 4rem;
  }

  &__heading-name {
    display: none;
  }

  @media print {
    &__heading {
      font-size: 2rem;
      text-align: left;
    }

    &__heading-category {
      display: none;
    }

    &__heading-name {
      display: inline;
    }
  }
}
