.care-plan-page {
  padding-left: 2rem;

  // samme som header på dashboard-page. Flyttes
  &__heading {
    margin-top: 1;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }

  &__controls {
    text-align: right;
    margin-left: auto;
    margin-bottom: 2rem;
    min-height: 3rem;
  }

  &__button {
    color: #097A7A;
    font-size: 1.125rem;

    &--save,
    &--cancel {
      border-radius: 100px;
      border: 2px solid #269392;
      padding: 0.5rem 1.25rem;
    }

    &--cancel {
      background: #fff;
    }

    &--save {
      background: #269392;
      color: #fff;
      margin-right: 1.5rem;
    }
  }
}
