@import '../../../../constants/constants';

.zoombuttons {
  display: flex;
  margin-left: 10rem;
}

.zoombuttons__button {
  flex: 0 0 auto;
  border: 0;
  color: #097A7A;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &--active {
    background: #343434;
    color: #fff;
    font-weight: 300;
  }

  &:focus {
    outline: none;
  }
}

