@import '../../../../constants/constants';

.zoombuttons {
  display: flex;
  margin: 0 0 1rem 10rem;
  z-index: 10;
}

.zoombuttons__button {
  flex: 0 0 auto;
  border: 0;
  color: $atoll;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &--active {
    background: #343434;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

