.month {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    //border-right: 4px solid #E1E1E1;
  }

  &--14 {
    .month__dates {
      display: flex;
    }

    .month__date {
      width: 64.87px;
    }

    .month__monthname--1 {
      position: relative;
      left: -64.87px;
    }

    .month__monthname--0 {
      width: 0;
      position: relative;
      left: calc(-64.87px * 2);
    }
  }

  &--30 {
    .month__dates {
      display: flex;
    }

    .month__date {
      width: 28.5312499px;
    }

    .month__monthname--3 {
      position: relative;
      left: -28.5312499px;
    }

    .month__monthname--2 {
      position: relative;
      left: calc(-28.5312499px * 2);
    }

    .month__monthname--1 {
      width: 0;
      position: relative;
      left: calc(-28.5312499px * 3);
    }

    .month__monthname--0 {
      width: 0;
      position: relative;
      left: calc(-64.87px * 2);
    }
  }

  &--90 {
    box-shadow: -2px 0 0 1px #E2E1E1;

    .month__dates {
      display: flex;
    }

    .month__date {
      overflow: hidden;
      width: calc(856.41px / 90);
      border: 0;
      visibility: hidden;
    }

    .month__monthname {
      position: relative;
      top: 25%;
      padding-left: 0.5rem;

      &--10 {
        position: relative;
        left: calc(-856.41px / 90);
      }

      &--9 {
        position: relative;
        left: calc(-856.41px / 90 * 2);
      }

      &--8 {
        position: relative;
        left: calc(-856.41px / 90 * 3);
      }

      &--7 {
        position: relative;
        left: calc(-856.41px / 90 * 4);
      }

      &--6 {
        position: relative;
        left: calc(-856.41px / 90 * 5);
      }

      &--5 {
        position: relative;
        width: 0;
        left: calc(-856.41px / 90 * 6);
      }

      &--4 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 90 * 7);
      }

      &--3,
      &--2,
      &--1,
      &--0 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 90 * 8);
      }
    }
  }

  &--180 {
    box-shadow: -2px 0 0 1px #E2E1E1;

    .month__dates {
      display: flex;
    }

    .month__date {
      overflow: hidden;
      width: calc(856.41px / 180);
      border: 0;
      visibility: hidden;
    }

    .month__monthname {
      position: relative;
      top: 25%;
      padding-left: 0.5rem;

      &--16 {
        position: relative;
        left: calc(-856.41px / 180);
      }

      &--15 {
        position: relative;
        left: calc(-856.41px / 180 * 2);
      }

      &--14 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 3);
      }

      &--13 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 4);
      }

      &--12 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 5);
      }

      &--11 {
        position: relative;
        width: 0;
        left: calc(-856.41px / 180 * 6);
      }

      &--10 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 7);
      }

      &--9 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 8);
      }

      &--8 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 9);
      }

      &--7 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 10);
      }

      &--6 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 11);
      }

      &--5 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 12);
      }

      &--4 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 13);
      }

      &--3 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 14);
      }

      &--2,
      &--1,
      &--0 {
        width: 0;
        position: relative;
        left: calc(-856.41px / 180 * 16);
      }
    }
  }

  &__monthname {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
  }

  &__dates {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }

  &__date {
    text-align: center;
    border-left: 1px solid #E1E1E1;
  }
}
