@import '../../../../constants/constants';

.careplan-footer {
  &__lastupdated {
    margin-top: 0.875rem;
    font-size: 1rem;
  }

  &__button {
    margin-top: 1.625rem;
    margin-bottom: 4rem;
  }

  &__comment {
    margin-top: 0;
  }

  &__print {
    display: none;
  }

  &__copybutton {
    border-radius: 100px;
    background: #269392;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.7rem 1.2rem;
    min-width: 9.5rem;
  }

  &__button-text {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
    width: 0;

    &--visible {
      visibility: visible;
      position: relative;
      width: auto;
      opacity: 1;
    }
  }

  @media print {
    &__screen {
      display: none;
    }

    &__print {
      display: block;
      margin-top: 2rem;
    }

    &__underskrift {
      margin-top: 0.5rem;
      border: 2px solid $quill-gray;
      background: #fff;
      height: 6rem;
      padding: 0.5rem;
    }

    &__date {
      margin-right: 10rem;
    }
  }
}
