@import '../../../../constants/constants';

.measurement-description {
  background: #fff;
  flex: 0 1 auto;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid $mercury;

  &--empty {
    justify-content: flex-start;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    flex-basis: 33%;
  }

  &__ideal-value {
    font-size: 1rem;
  }

  &__empty-text {
    color: $natural-grey;
    font-size: 1rem;
  }
}
