//colors
$page-background: #f6f6f6;
$cornflower-blue: #91acb7;
$pale-slate: #b9b6b9;
$astronaut: #2a327a;
$transparent-astronaut: rgba(42, 50, 122, 0.1);
$turquoise: #43d5b7;
$laser: #c6bd66;
$burnt-sienna: #e96b61;
$tundora: #4a4a4a;
$cararra: #e5e5e1;
$paradiso: #347587;
$paradiso-light: #38888e;
$chateau-green: #38aa68;
$desert-storm: #efefed;
$jungle-green: #2c9f9e;
$quill-gray: #d1d1cc;
