//colors
$page-background: #f6f6f6;
$transparent-astronaut: rgba(42, 50, 122, 0.1);
$tundora: #4a4a4a;
$chateau-green: #38aa68;
$desert-storm: #efefed;
$quill-gray: #d9d9d4;
$alto: #d5d5d5;
$storm-dust: #6e6e6a;
$skeptic: #cce8d9;
$silver: #cdcdcd;
$mine-shaft: #343434;
$gallery: #eee;
$atoll: #097a7a;
$scorpion: #5e5e5e;
$mercury: #e1e1e1;
$shadow-green: #8cc7b4;
$natural-grey: #8b8b87;
$sunglo: #e77169;
$chrome-white: #dfeed3;
$sidecar: #f5e8c2;
$just-right: #edcab9;
