@import '../../../../constants/constants';

.measurement {
  margin: 1rem 0;
  display: flex;
}

.measurement__chart {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  min-width: 1010px;
  margin-right: 0.1rem;
  border: 1px solid $gallery;
}
