.measurement-chart {
  flex: 1 0 auto;
}

.ct-series .ct-line {
  stroke: #2a327a;
  stroke-width: 2px;
}

.ct-series .ct-point {
  stroke: #2a327a;
  stroke-width: 5px;
}

.ct-series .ct-area {
  fill: #2a327a;
}
