@import '../../constants/constants';

.goal {
  background: $gallery;
  padding: 1.375rem 2rem;
  font-size: 1.125rem;
  display: flex;
  margin-bottom: 4rem;
  flex: 1 1 100%;

  &--ebh {
    background: #fff;
    margin-bottom: 2.125rem;

    .goal__lastupdated {
      display: none;
    }
  }

  &__left {
    width: 80%;
  }

  &__heading {
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.875rem;
    text-transform: uppercase;
  }

  &__textarea {
    width: 60%;
    font-size: 1rem;
    resize: vertical;
    border: 2px solid $quill-gray;
  }

  @media print {
    border: 2px solid $quill-gray;
    font-size: 1rem;
  }
}
