@import '../../../../constants/constants';

.questionnaire-responses {
  margin: 1rem 0;
  display: flex;

  &__table-container {
    background: #fff;
    flex: 1 1 auto;
    padding-left: 1rem;
    overflow: hidden;
  }

  &__chart {
    flex: 1 1 auto;
    margin-right: 0.1rem;
  }
}

.questionnaire-responses-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  tr:first-child td {
    padding-top: 5rem;
  }

  &--borders td:not(:last-child) {
    border-right: 1px solid $desert-storm;
    position: relative;
  }

  &__question {
    width: 152px;
    word-break: break-word;
    padding: 0.5rem;
    padding-left: 0;
  }

  &__data {
    text-align: center;

    &--selected {
      background: $transparent-astronaut;
    }
  }
}
