.measurement {
	background-color: whitesmoke;
	padding: 1rem;
	margin: 1rem;	

	&__name {
      float: left;
	  width: 10%;
	  font-weight: 600;
    }
    &__chart {
      display: inline-block;
	  width: 60%;
    }
	&__lastValue {
      float: right;
	  width: 20%;	 
	  font-size: 2rem;	  
    }
}
