.dashboard-header__heading {
  margin-top: 1;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  flex: 1 0 auto;
  width: 100%;
}

.dashboard-header {
  display: flex;
  flex-wrap: wrap;
}
