.dashboard-page {
  padding: 0.5rem 2rem;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.04);
    display: none;
    pointer-events: none;

    &--active {
      display: block;
    }
  }
}
