@import '../../../constants/constants';

.latest-measurement {
  flex: 0 0 9rem;
  background: linear-gradient($paradiso, $paradiso-light);
  color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__headingwrapper {
    align-self: flex-start;
  }

  &__heading {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  &__date {
    text-align: center;
    font-weight: 300;
  }

  &__valuewrapper {
    align-self: flex-start;
  }

  &__value {
    font-size: 3.3125rem;
    font-weight: 200;
    text-align: center;
  }

  &__unit {
    text-align: center;
    font-weight: 300;
  }
}

