@import '../../../../constants/constants';

.to-the-top {
  margin: 0 auto;
  border: 0;
  padding: 0;
  display: block;

  &__text {
    align-self: center;
    margin-left: 0.8rem;
    font-size: 1.125rem;
    color: $atoll;
  }

  &__icon {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
  }
}
