@import '../../../constants/constants';

.create-care-plan {
  &__noplan {
    font-style: italic;
  }

  &__label {
    font-weight: 600;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  &__listitem {
    width: 25rem;
    margin-right: 6rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__iconbox {
    flex: 1 1 auto;
    background: $shadow-green;
    padding: 1.375rem 2rem;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &__icontext {
    margin-left: 2rem;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}
