@import '../../../../../constants/constants';

.measurement-chart {
  background: #fff;
  flex: 1 1 auto;
  padding-left: 8rem;

  .ct-series .ct-line {
    stroke: $jungle-green;
    stroke-width: 2px;
  }

  .ref-values-series .ct-line {
    stroke-dasharray: 3px 6px;
  }

  .ct-series .ct-point {
    stroke: $jungle-green;
    stroke-width: 5px;
  }

  .ct-series .ct-area {
    fill: $chateau-green;
  }

  .ct-grid {
    stroke: #E1E1E1;
    stroke-width: 1px;
    stroke-dasharray: inherit;
  }
}
