@import '../../../../../constants/constants';

.measurement-chart {
  flex: 1 0 auto;
  background: #fff;
  padding: 1rem 4rem 1rem 1.75rem;
  display: flex;

  .ct-chart {
    flex: 1 1 auto;
    align-self: center;
  }

  .ct-series .ct-line {
    stroke: $astronaut;
    stroke-width: 2px;
  }

  .ct-series .ct-point {
    stroke: $astronaut;
    stroke-width: 5px;
  }

  .ct-series .ct-area {
    fill: $astronaut;
  }
}
