@import '../../../../../constants/constants';

.measurement-chart {
  flex: 1 0 auto;
  background: #fff;

  .ct-series .ct-line {
    stroke: $astronaut;
    stroke-width: 2px;
  }

  .ct-series .ct-point {
    stroke: $astronaut;
    stroke-width: 5px;
  }

  .ct-series .ct-area {
    fill: $astronaut;
  }
}
